page-login {

}
.font-color{
    color:white
}
.title{
    width:auto;
    margin-top:10px;
    //margin-left:90px; 
    //margin-left: 30%;
    font-size: 30px;
    color:white;
    text-align: center;
}

.button-color{
   
    margin-top: 20px;
    color:#dfa911;
}
div.login{
    margin-top: 10px;
    padding: 30px;
    height: auto;
    width:auto;
    border:2px solid #886507;
}
.signup-btn{
    align-content: center;
    width:30%;
    margin-top: 0px;
    color:#dfa911;
    background-color: white;
    border: 0px solid #dfa911;
    height: 30px;
}
