page-sign-up {

}
.font-color{
    color:white
}
.title{
    width:auto;
    margin-top:20px;
    //margin-left:90px; 
    margin-left: 30%;
    font-size: 30px;
    color:white;
}
.login-content{
    padding-top: 20px;
    padding-left: 40px;   
    font-size: 20px
}

.button-color{
    margin-left: 40%;
    margin-top: 20px;
    color:#dfa911;
}
.warning-button{
    margin-top:10px;
    background-color: #dfa911;
}
.warning-button-color{
    color:#dfa911;
}
.item{
    background-color: #dfa911;
    min-height: 20px;
}
.input{
    width:60%;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 20px;
}
.label{
    margin: 20px 0px 0px 0px;
    padding: 0px 0px 0px 10px;
}